@font-face {
  font-family: "Body";
  src: url(/Fonts/RedHatMono-VariableFont_wght.ttf);
}
    
html {
  box-sizing: border-box;
  background-color:black
}

a {
  display:inline-block;
  color: white;
  text-decoration: none;
}


body {
  color:white;
  font-size: 120%;
  font-family: 'Body';
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  text-shadow: 0 0 20px red;
}